.material-icons {
  font-family: 'Material Icons';
  /* font-size: 16px; */
  margin-bottom: 1px;
  /* line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; */
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: #1b1c1d;
  color: rgba(255,255,255,.9);
  height: 100%;
}

.banner-img {
  -webkit-animation: fadein 2s;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-div {
  width: 100%;
  height: 100%;
}

.poster-and-info-div {
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.849));
}

.movie-title, .banner-description {
  color:white;
}

.movie-title {
  margin-left: 50px;
  text-shadow: 1px 1px rgb(0, 0, 0)
}

.banner-description {
  -webkit-animation: fadein 2s;
  margin-top: 7px;
  height: 170px;
  width: 500px;
}

.release-year {
  margin: 5px 50px;
  font-size: 1.3rem;
  color: white;
}

.banner-description, .poster-img {
  margin-left: 50px;
  margin-bottom: 50px;
}

.poster-img {
  -webkit-animation: fadein 2s;
  width: 150px;
  position: relative;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.banner .nota {
  margin-left: 50px;
}

.movie-info-div {
/*   bottom: 0; */
  width: auto;
}

#waiting {
  color: white;
  font-size: 2rem;
  margin: 100px 0 0 300px;
}
/* End of Film Style */