@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #111;
	font-family: "Montserrat";
	text-align: center;
}

h1 {
	margin-top: 0;
}

.container {
	width: 95%;
	margin: auto;
};

.logo {  /* Não retirar essa tag */
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 70px;
}

.personagens {
	display: inline-flex;
	justify-content: space-around;
	width: 150px;
	height: 150px;
	border-radius: 8px;
	align-items: center;
	margin-right: 10px;
	margin-left: 10px;
	overflow: hidden;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.personagens:hover {
	-moz-transition: scale(1.1);
	-webkit-transform: scale(1.1) ;
	transform: scale(1.1);
}
#renan {
	background-color: red;
}

#mauricio {
	background-color: yellow;
}

#rogerinho {
	background-color: blue;
}

#julinho {
	background-color: purple;
}

.alternativo {
	display: inline-block;
	border-radius: 10px;
	margin-top: 30px;
	border: solid 1px rgb(172, 172, 172);
	padding: 15px;
	font-size: large;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.alternativo:hover {
	-moz-transition: scale(1.1);
	-webkit-transform: scale(1.1) ;
	transform: scale(1.1);
}
.alternativo > a {
	color: rgb(172, 172, 172);
	text-decoration: none;
}

.gerenciamento {
	font-weight:300;
	display: flex;
	margin: auto;
	justify-content: center;
	margin-top: -25px;
	height: max(85vh, 320px);
}

.gerenciamento > * {
	margin: auto;
}
.title {
  color: #ee010d;
  font-size: 2.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding: 2px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

#idC {font-size: 2.2rem; line-height: 2rem;}

#idH {font-size: 1.9rem; line-height: 1.7rem;}

#idO {font-size: 1.7rem; line-height: 1.7rem;}

#idQ {font-size: 1.5rem; line-height: 1.6rem;}

#idU {font-size: 1.5rem; line-height: 1.6rem;}

#idE {font-size: 1.5rem; line-height: 1.6rem;}

#idF {font-size: 1.6rem; line-height: 1.7rem;}

#idL {font-size: 1.7rem; line-height: 1.7rem;}

#idI {font-size: 2rem; line-height: 1.8rem;}

#idX {font-size: 2.2rem; line-height: 2rem;}


.titulo {
  color: white;
	font-size: 2.5rem;
}