header {
  position: fixed;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin: auto;
  color: white;
  z-index: 1;
}

.header {
  width: 90%;
  margin: auto;
}

.title img {
  height: 34px;
}

/* Title Style Start */
.title {
  color: #ee010d;
  font-size: 2.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding: 2px;
  display: flex;
  align-items: flex-start;
  line-height: 2.3rem;
  cursor: pointer;
}

#idC {font-size: 2.2rem; line-height: 2rem;}

#idH {font-size: 1.9rem; line-height: 1.58rem;}

#idO {font-size: 1.8rem; line-height: 1.58rem;}

#idQ {font-size: 1.6rem; line-height: 1.4rem;}

#idU {font-size: 1.6rem; line-height: 1.45rem;}

#idE {font-size: 1.6rem; line-height: 1.45rem;}

#idF {font-size: 1.7rem; line-height: 1.6rem;}

#idL {font-size: 1.7rem; line-height: 1.5rem;}

#idI {font-size: 2rem; line-height: 1.7rem;}

#idX {font-size: 2.2rem; line-height: 2rem;}

/* Title Style End */

/* Nav-menu Start */

li {
  float: left;
  list-style: none;
}

ul > li {
  background-color: rgba(218, 216, 216, 0.95);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.nav {
  padding: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}

.nav ul {
  top: 10px;
  display: none;
}

.nav .options {
  position: absolute;
  left: -35px;
}

.nav .options li {
  border-radius: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100px;
  padding: 3px;
}

.nav .options .more-options {
  width: 200px;
}

.nav:hover {
  opacity: 0.9;
  text-shadow: 0px 0px 1px rgb(245, 245, 245);
}

.nav:hover ul li {
  text-shadow: none;
}

.nav ul li:hover {
  text-shadow:  0px 0px 1px #fff;
}

.nav:hover ul {
  display: block;
}

.nav:hover, .nav li:hover {
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.15);
}


.navActive {
  opacity: 1;
  font-weight: 900;
  font-size: 1.3rem;
  color: red;
}

.options div {
  font-weight: 400;
  font-size: 1.1rem;
}

.options .liActive {
  opacity: 1;
  font-weight: 900;
  font-size: 1.2rem;
  color: red;
}

/* Nav-menu Ends */

/* Search-bar Start */

.search {
  display: flex;
  justify-content: space-between;
}

.searchbar {
  max-height: 38px;
  align-self: center;
}

/* Search-bar End */

/* Perfil Start */

.perfilImg {
  margin-right: 3px;
  width: 40px;
  overflow: hidden;
  align-self: flex-end;
}

.perfil {
  display: flex;
  margin: 0 0 0 20px;
  border: 2px solid red;
  border-radius: 3px;
}

.angle {
  align-self: center;
  color: white;
}

i.icon.angle.down:before {
  font-size: 20px;
  position: relative;
  bottom: 0;
  left: 0;
}

.perfil:hover .angle {
  transform: rotate(180deg);
	transition: all .3s;
}



/* Perfil Ends */


/* Responsividade */
#large-screen {
  display: flex;
  align-items: center;
}

#large-screen .item:nth-child(2), #large-screen .item:nth-child(4) {
  margin-right: 2px;
}

#small-screen{
  display: none !important;
}
#input-menu {
  display: none;
}


@media (max-width: 1100px) {
  .searchbar {
    width: 140px;
  }
  .title img {
    height: 30px;
  }
}

@media (max-width: 1000px) {
  .nav {
    margin-right: 5px;
  }
  #large-screen {
    display: none;
  }
  #small-screen{
    display: block !important;
  }
}

@media (max-width: 800px) {
  .title--div {
    display: block;
  }
}

@media (max-width: 700px) {
  #input-large {
    display: none;
  }
  #input-menu {
    display: block;
  }
  .perfil {
    margin: 0;
}
}

@media (max-width: 400px) {
  .title img {
    width: 130px;
  }
}

#small-screen {
  font-size: 1.2rem;
}


