* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #111;
}

img {
  min-width: 100%;
}

.nav:hover {
  opacity: 0.9;
  text-shadow: 0px 0px 3px #fff;
}

.nav:hover ul li {
  text-shadow: none;
}

.nav ul li:hover {
  text-shadow:  0px 0px 3px #fff;
}

.nav:hover ul {
  display: block;
}

.nav:hover, .nav li:hover {
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.15);
}


header {
  position: fixed;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin: auto;
  color: white;
  z-index: 1;
}

.header {
  width: 90%;
  margin: auto;
}

main {
  margin-top: 5%;
}

/* Navegation style */
li {
  float: left;
  list-style: none;
}

ul > li {
  background-color: rgba(218, 216, 216, 0.95);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.nav {
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}

.nav ul {
  top: 10px;
  display: none;
}

.nav .options {
  position: absolute;
  left: -35px;
}

.nav .options li {
  border-radius: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100px;
  padding: 3px;
}

.nav .options .more-options {
  width: 200px;
}

/* End of Navegation style */

/* Title Style */
.title {
  color: #ee010d;
  font-size: 2.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding: 2px;
  display: flex;
  align-items: flex-start;
  line-height: 2.3rem;
  cursor: pointer;
}

#idC {font-size: 2.2rem; line-height: 2rem;}

#idH {font-size: 1.9rem; line-height: 1.58rem;}

#idO {font-size: 1.8rem; line-height: 1.58rem;}

#idQ {font-size: 1.6rem; line-height: 1.4rem;}

#idU {font-size: 1.6rem; line-height: 1.45rem;}

#idE {font-size: 1.6rem; line-height: 1.45rem;}

#idF {font-size: 1.7rem; line-height: 1.6rem;}

#idL {font-size: 1.7rem; line-height: 1.5rem;}

#idI {font-size: 2rem; line-height: 1.7rem;}

#idX {font-size: 2.2rem; line-height: 2rem;}
/* End of Title Style */

/* Film Style */
#film-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.filme {
  display: flex;
  flex-direction: column;
  /* HEAD */
  width: 19%;
  padding: 10px 15px 10px 20px;
  padding: 15px;
  border: solid thin black;
  background-color: rgba(211, 211, 211, 0.219);
  width: 250px;
  height: 360px;
  margin-bottom: 30px;
  color: #ffff;
  border-radius: 10px;
  overflow: hidden;
	transition: all 1s;
}

.filme:hover {
	-moz-transition: scale(1.1);
	-webkit-transform: scale(1.1) ;
	transform: scale(1.1);
  height: fit-content;
}

.filme:hover .description{
  opacity: 100%;
}

.description {
  transition: 1s opacity;
  opacity: 0;
  margin-top: .5rem;
}

.nota--value {
  background-color: rgba(255, 255, 255, 0.856);
  color: black;
  padding: 4px ;
  border-radius: 100%;
  font-size: 1.1rem;
  margin-left: .2rem;
}

.nota {
  font-size: 1.3rem;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 900;
}

.description--text {
  font-size: 1.1rem;
  font-weight: 400;
}

.material-icons {
  font-family: 'Material Icons';
  /* font-size: 16px; */
  margin-bottom: 1px;
  /* line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; */
}

.play {
  position: absolute;
  top: 120px;
  left: 85px;
  opacity: .8 !important;
  color: white;
}

.btnsDiv {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.btn-watchlist {
  min-width: 87px !important;
  margin: 0 !important;
}

/* End of Film Style */