.nav:hover{
  opacity: 0.9;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
}

.nav {
  padding: 5px;
  margin: 0 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.title {
  color: red;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  text-anchor: middle;
  font-weight: 600;
}

#idE {font-size: 1.4rem;}

#idT {font-size: 1.3rem;}

#idF {font-size: 1.25rem;}

#idL {font-size: 1.3rem;}

#idI {font-size: 1.4rem;}